<code_example>
$ SET DEF PAMS$EXAMPLES
$ SET DEF [.TCPIP_ADAPTER]
$ LIBR/EXTRACT=PAMS_TCPIP_ADAPTER/OUT=PAMS_TCPIP_ADAPTER -
	PAMS$LIB:PAMS_TCPIP
$ CC P_TCPIP+PAMS$LIB:PAMS_TCPIP.TLB/LIB+PAMS$LIB:PAMS.TLB/LIB
$ CC P_TCPFNC+PAMS$LIB:PAMS_TCPIP.TLB/LIB+PAMS$LIB:PAMS.TLB/LIB
$ LIBR/REPL PAMS$LIB:PAMS_TCPIP P_TCPIP
$ LIBR/REPL PAMS$LIB:PAMS_TCPIP P_TCPFNC
$ LIBR/REPL PAMS$LIB:PAMS_TCPIP PAMS_TCPIP_ADAPTER
<endcode_example>
